<div data-hook="admin_track_form_fields" class="label-block left six columns alpha">
  <div data-hook="tracks">

    <div class="field" data-hook="name">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
      <%= f.error_message_on :name %>
    </div>

  </div>
</div>

<div data-hook="admin_track_form_fields" class="label-block left six columns alpha">
  <div data-hook="tracks">

    <div class="field" data-hook="name">
      <%= f.label :isrc, Spree.t(:isrc) %>
      <%= f.text_field :isrc, :class => 'fullwidth' %>
    </div>

  </div>
</div>


<div class="clear"></div>